body
{
    margin: 0;
    padding: 0;
    background-color:#00000034;
    font-family: 'Arial';
}
.login{
    width: 342px;
    border: 2px solid grey;
    overflow: hidden;
    margin: auto;
    margin: 20 0 0 500px;
    padding: 70px 67px 360px;
    background: #ffffff;
    border-radius: 15px ;

}
h2{
    text-align: center;
    color: #000000;
    padding: 20px;
}

label{
    color: #000000ba;
    font-size: 25px;
}
#login{
    width: 300px;
    height: 30px;
    border-radius: 3px;
    padding-left: 8px;
}
#password{
    width: 300px;
    height: 30px;
    border-radius: 3px;
    padding-left: 8px;
}
#log{
    color: white;
    background-color: rgb(27, 26, 26);
    cursor: pointer;
    width: 315px;
    height: 45px;
    border: none;
    border-radius: 5px;
    margin-left: 1px;
}
h5{
    text-align:center;
}
#create-account-wrap{
    color: #8a8b8e;
    font-size: 15px;
    width: 100%;
}
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
  }
  .header a {
    float: left;
    background-color: black;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  .header a.active {
    background-color: #f1f1f1;
    color: rgb(0, 0, 0);
  }
  .header-right {
    float: right;
  }
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }
  #logo{
    height: 45px;
    width: 160px;
  }